<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efruit.micro.arkmanager.mapper.DispatchingSkuTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.efruit.micro.arkmanager.pojo.DispatchingSkuTypeInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="skuPropertiesName" property="skupropertiesname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, skuPropertiesName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dispatching_sku_type_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dispatching_sku_type_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.efruit.micro.arkmanager.pojo.DispatchingSkuTypeInfo" >
    insert into dispatching_sku_type_info (id, title, skuPropertiesName
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{skupropertiesname,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertList" parameterType="java.util.List" >
    insert into dispatching_sku_type_info (id, title, skuPropertiesName
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.title,jdbcType=VARCHAR}, #{item.skupropertiesname,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.efruit.micro.arkmanager.pojo.DispatchingSkuTypeInfo" >
    insert into dispatching_sku_type_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="skupropertiesname != null" >
        skuPropertiesName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="skupropertiesname != null" >
        #{skupropertiesname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efruit.micro.arkmanager.pojo.DispatchingSkuTypeInfo" >
    update dispatching_sku_type_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="skupropertiesname != null" >
        skuPropertiesName = #{skupropertiesname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efruit.micro.arkmanager.pojo.DispatchingSkuTypeInfo" >
    update dispatching_sku_type_info
    set title = #{title,jdbcType=VARCHAR},
      skuPropertiesName = #{skupropertiesname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>