<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efruit.micro.arkmanager.mapper.EventLogMapper" >
  <resultMap id="BaseResultMap" type="com.efruit.micro.arkmanager.pojo.EventLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="source_from" property="sourceFrom" jdbcType="VARCHAR" />
    <result column="test_type" property="testType" jdbcType="VARCHAR" />
    <result column="u_id" property="uId" jdbcType="VARCHAR" />
    <result column="platfrom" property="platfrom" jdbcType="VARCHAR" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, source_from, test_type, u_id, platfrom, device, created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.efruit.micro.arkmanager.pojo.EventLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from event_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from event_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from event_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.efruit.micro.arkmanager.pojo.EventLogExample" >
    delete from event_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efruit.micro.arkmanager.pojo.EventLog" >
    insert into event_log (id, source_from, test_type, 
      u_id, platfrom, device, 
      created)
    values (#{id,jdbcType=BIGINT}, #{sourceFrom,jdbcType=VARCHAR}, #{testType,jdbcType=VARCHAR}, 
      #{uId,jdbcType=VARCHAR}, #{platfrom,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.efruit.micro.arkmanager.pojo.EventLog" >
    insert into event_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sourceFrom != null" >
        source_from,
      </if>
      <if test="testType != null" >
        test_type,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="platfrom != null" >
        platfrom,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sourceFrom != null" >
        #{sourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="testType != null" >
        #{testType,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="platfrom != null" >
        #{platfrom,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efruit.micro.arkmanager.pojo.EventLogExample" resultType="java.lang.Integer" >
    select count(*) from event_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update event_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sourceFrom != null" >
        source_from = #{record.sourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.testType != null" >
        test_type = #{record.testType,jdbcType=VARCHAR},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=VARCHAR},
      </if>
      <if test="record.platfrom != null" >
        platfrom = #{record.platfrom,jdbcType=VARCHAR},
      </if>
      <if test="record.device != null" >
        device = #{record.device,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update event_log
    set id = #{record.id,jdbcType=BIGINT},
      source_from = #{record.sourceFrom,jdbcType=VARCHAR},
      test_type = #{record.testType,jdbcType=VARCHAR},
      u_id = #{record.uId,jdbcType=VARCHAR},
      platfrom = #{record.platfrom,jdbcType=VARCHAR},
      device = #{record.device,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efruit.micro.arkmanager.pojo.EventLog" >
    update event_log
    <set >
      <if test="sourceFrom != null" >
        source_from = #{sourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="testType != null" >
        test_type = #{testType,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="platfrom != null" >
        platfrom = #{platfrom,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efruit.micro.arkmanager.pojo.EventLog" >
    update event_log
    set source_from = #{sourceFrom,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      u_id = #{uId,jdbcType=VARCHAR},
      platfrom = #{platfrom,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>